{% extends "AppMaster/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Usuario</h1>

{% if user %}
<div class="POST">

        <br>
       <p> ID: {{ user.pk }} <br> </p>
       <p> Username: {{ user.username }} <br> </p>
       <p> Nombre: {{ user.first_name }} <br> </p>   
       <p> Apellido: {{ user.last_name }}  <br> </p>
       <p> Email: {{ user.email }}  <br> </p>
        <p>---------------------------------------------------------</p>
        <br>   
    <a class="btn btn-danger" href="{% url 'eliminarUsuario' user.id %}">Borrar</a>
    <a class="btn btn-success" href="{% url 'editarUsuario' pk=user.pk %}">Editar</a>

</div>
<h3>{{ mensaje }}</h3>
{% endif %}

<h3> Error, no hay User</h3>

{% endblock %}

{% block contenido_que_cambia %}

{% endblock %}