{% extends "AppMaster/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Detalle del Mensaje</h1>

<div class="post">

        <h3> Fecha: {{ msgs.published_date }} </h3>
        <h3>Para: {{ msgs.userto }}</h3>
        <h3>De: {{ msgs.userfrom }}</h3>   
        <h3>Subject: {{ msgs.subject }}</h3>
        <p>Texto: {{ msgs.text|linebreaksbr }}</p>


    <a class="btn btn-primary" href="{% url 'msg_list' %}">Volver</a>

</div>

{% endblock %}

{% block contenido_que_cambia %}

{% endblock %}