{% extends "AppMaster/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Detalles de Post</h1>

<div class="post">

    {% if posts.published_date %}
        <div class="date">
            {{ posts.published_date }}
        </div>
    {% endif %}
    
       
    <h2>{{ posts.title }}</h2>
    
    <p>{{ posts.text|linebreaksbr }}</p>

    <a class="btn btn-primary" href="{% url 'post_edit' pk=posts.pk %}">Editar</a>
    <a class="btn btn-primary" href="{% url 'post_list' %}">Volver</a>

</div>

{% endblock %}

{% block contenido_que_cambia %}

{% endblock %}