{% extends "AppMaster/padre.html" %}

{% load static %}


{% block titulo %}
<h1 class="mb-5">RESULTADOS DE LA BUSQUEDA <br> </h1>

{% if usuario %}
<h2 class="text-center text-white">
    {% for usuario in usuario %}
        Usuario: {{ usuario.usuario }} <br> Nombre: {{ usuario.nombre }} <br> Apellido: {{ usuario.apellido}} <br> ------------------------- <br>
    {% endfor %}
</h2>

{% else %}

<h2 class="text-center"> NO HAY USUARIOS CON ESE NOMBRE...</h2>

{% endif %}
{% endblock %}



{% block contenido_que_cambia %}



{% endblock %}